# Compiler files
cache/
out/

# Ignores development broadcast logs
/broadcast/*/31337/
/broadcast/**/dry-run/
/broadcast/

foundry-simple-storage/broadcast/
foundry-fund-me/broadcast/

# Docs
docs/

# Dotenv file
.env


/lib/
foundry-simple-storage/lib/
foundry-fund-me/lib/

.DS_Store